.note {
  padding: 6px;
  height: auto;
  margin: auto;
  margin: 4px;
  width: auto;
  font-family: 'Lato', sans-serif;
  background-color: #eed;
  border-radius: 6px;
  box-shadow: 4px 4px 4px #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  from {
    opactiy: 0.8;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.noteContent {
  float: left;
  padding-right: 10px;
  display: block;
}

.closebtn {
  color: #AA9;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.closebtn:hover {
  color: #AC2500;
}